oracle.install.responseFileVersion=/oracle/install/rspfmt_dbinstall_response_schema_v19.0.0
oracle.install.option={{ DB_INSTALL_OPTION }}
UNIX_GROUP_NAME={{ ORACLE_GROUP }}
ORACLE_HOME={{ ORACLE_HOME }}
ORACLE_BASE={{ ORACLE_BASE }}
oracle.install.db.InstallEdition={{ DB_EDITION }}
oracle.install.db.OSDBA_GROUP={{ ORACLE_GROUP }}
oracle.install.db.OSOPER_GROUP={{ ORACLE_GROUP }}
oracle.install.db.OSBACKUPDBA_GROUP={{ ORACLE_GROUP }}
oracle.install.db.OSDGDBA_GROUP={{ ORACLE_GROUP }}
oracle.install.db.OSKMDBA_GROUP={{ ORACLE_GROUP }}
oracle.install.db.OSRACDBA_GROUP={{ ORACLE_GROUP }}
oracle.install.db.rootconfig.executeRootScript={{ DB_ROOT_SCRIPT | lower }}
